.btnbuy{
    margin-left: 400px;
    margin-top: 50px;

}
.tw{
    margin-left: 400px;
    margin-top: 200px;   
}
.title{
    margin-left: 400px;
}

.spng{
    margin-left: 400px;
    margin-bottom: 400px;
}